.todoRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  background: #A3C7D6;
  padding: 16px;
  border-radius: 5px;
  width: 90%
}
.iconsContainer {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}
.icone {
  color: white;
}
.todoRowCompleted {
  text-decoration: line-through;
}