.todoApp {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 45%;
  min-height: 600px;
  background: white;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
  background: #8B7E74
}